
.main-container{
  height: 700px;
  min-height: 650px;
  min-width: 450px;
}

.results-container{
  align-items: center;
  display: flex;
  height:85%;
  justify-content: center;
  min-width: 500px;
}

.search-container{
  align-items: center;
  display: flex;
  height:15%;
  justify-content: center;
  min-width: 500px;
}

input{
  min-width: 80%;
  min-height: 40px;
}
